<form>
  <div class="form-group">
    <label for="name">Site Name</label>
    <input type="text" class="form-control" id="name" required>
  </div>
  <div class="form-group">
    <label for="alterEgo">AWS Region</label>
    <!-- <input type="text" class="form-control" id="region" value=""> -->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Region
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngFor="let region of regions"><a>{{region}}</a></li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="alterEgo">Access Key</label>
    <input type="text" class="form-control" id="access-key">
  </div>
  <div class="form-group">
    <label for="alterEgo">Secret Key</label>
    <input type="text" class="form-control" id="secret-key">
  </div>
  <button type="submit" class="btn btn-default" (click)="discoverSite()">Submit</button>
</form>
