<h3>Instances</h3>
<div class="row">
  <form class="form-inline" role="form">
    <div class="col-md-4">
      <div class="form-group form-group-sm">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-filter"> </span>
          </div>
          <input class="col-md-2 form-control" placeholder="filter">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="site">Select Site:</label>
      <select class="form-control">
        <option value="" selected>--select your site--</option>
      </select>
    </div>
    <div class="col-md-4">
      <div class="pull-right">
        <select class="form-control topology-select">
          <option value="" selected>--select action--</option>
        </select>
      </div>
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <input type="checkbox">
      </th>
      <th>Instance Id</th>
      <th>Instance Name</th>
      <th>State</th>
      <th>Key Pair</th>
      <th>Key Status</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">
        <input type="checkbox">
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
